{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PTextr - Login</title>
</head>
<body>
    <h1>Login</h1>

    <!-- Google Login Form -->
    <form action="{% provider_login_url 'google' %}" method="post">
        {% csrf_token %}
        <button type="submit">Login with Google</button>
    </form>

    <!-- GitHub Login Form -->
    <form action="{% provider_login_url 'github' %}" method="post">
        {% csrf_token %}
        <button type="submit">Login with Github</button>
    </form>
</body>
</html>
