{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        PTextr - Home
    {% endblock title %}
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/core/home.css' %}">
    {% endblock extra_css %}
</head>
<body>
    {% block content %}
        @Dashboard {{ request.user.email }}
        <div>{{ request.user.first_name }} {{ request.user.last_name }}</div>
        <form action="" method="post" enctype="multipart/form-data">
            {{form.avatar}}
            {% csrf_token %}
            <button type="submit">Update Avatar</button>
        </form>
    {% endblock content %}
</body>
</html>